.button {
  position: relative;
  background-color: var(--color-text-primary);
  padding: 16px 48px 16px 24px;
  border-radius: 5px;
  font-family: var(--font-suisse);
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--white);
  border: none;
  cursor: pointer;

  width: 362px;
  height: 56px;
}

.icon {
  position: absolute;
  bottom: 0.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
